* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(rgba(240, 230, 160, 1), rgba(200, 150, 30, 1));
    color: rgba(10, 15, 60, 1);
}

.todo_position {
    margin: 2rem;
}

.todo__logo {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}

.todo__input {
    font-size: 1rem;
}

.todo__input_size {
    width: 94vw;
    height: 3rem;

    padding: 1vw 1.5vw;

    border: none;
    border-radius: 5px;
}

.todo__list {
    list-style: none;
}

.todo__list-item span {
    margin-right: auto;
}

.todo__list-item:nth-child(odd) {
    background-color: rgba(200, 150, 30, 0.3);
}

.todo__list-item_position {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 94vw;

    margin-left: -40px;
    padding: 20px;

    border-bottom: 1px solid;
}

.todo__list-checkbox {
    width: 1.8rem;
    height: 1.8rem;

    margin: 0 0.5rem;
}

.todo__list-checkbox:checked ~ span {
    text-decoration: line-through;
    opacity: 0.5;
}

/* кнопка "удалить" */

.todo__delete {
    width: 1.8rem;
    height: 1.8rem;

    border: none;

    background-color: transparent;
    background-image: url('../img/delete.svg');
    background-size: contain;

    cursor: pointer;
}

.todo__delete:hover {
    opacity: 0.5;
}

.todo__delete:active {
    opacity: 1;
}

/* Навигация под input */

.todo-aside {
    width: 94vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__controls_button {
    border: none;

    font-size: inherit;

    background-color: transparent;
    font-family: inherit;
    font-size: 1.3rem;
}

.todo__controls_button:active {
    outline: 1px solid;
}